<div class="container mx-auto max-w-6xl">
  <% if @tasks.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <%= render @tasks %>
    </div>
  <% else %>
    <p class="text-center text-gray-500 mt-8">No tasks found.</p>
  <% end %>
</div>
